[submodule "euerkaService"]
	path = euerkaService
	url = git@github.com:preorder-shop/eureka-server.git
[submodule "userService"]
	path = userService
	url = git@github.com:preorder-shop/user-service.git
[submodule "newsfeedService"]
	path = newsfeedService
	url = git@github.com:preorder-shop/newsfeed-service.git
